#customization {
  text-align: center;
  padding: 3em 0 8em;
  background-color: $light-bg-color;

i{
  font-size: 3em;
  color: $primary-color;
}

a{
  color: $primary-color;
  font-weight: bold;
}

}
